@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); 

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    font-family: "Montserrat", serif;
    
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
.scrollbar-hide {
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
}  